workflows/tools/axonaut.workflow.json
{
  "name": "so.tool.axonaut",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'axonaut',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "numberOutputs": 3,
        "jsCode": "const routes = {\n  \"company.update\": 0,\n  \"contact.create\": 1,\n  \"sampleFetch\": 2\n};\nconst outputs = Array.from({ length: 3 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    },
    {
      "id": "company-update",
      "name": "company.update",
      "type": "n8n-nodes-base.axonaut",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "company",
        "operation": "update",
        "additionalFields": {},
        "company": "={{$json.params.company}}"
      }
    },
    {
      "id": "contact-create",
      "name": "contact.create",
      "type": "n8n-nodes-base.axonaut",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "additionalFields": {},
        "contact": "={{$json.params.contact}}"
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 2,
      "position": [
        920,
        450
      ],
      "type": "n8n-nodes-base.code",
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  return {\n    json: {\n      ok: true,\n      data: { sample: true, provider: 'axonaut', operation: 'sampleFetch', params: input.params || {} },\n      error: null\n    }\n  };\n});\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "company.update",
          "type": "main",
          "index": 0
        },
        {
          "node": "contact.create",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "company.update": {
      "main": []
    },
    "contact.create": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
