workflows/tools/brevo.workflow.json
{
  "name": "tool-brevo",
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "Tool Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "dispatch-operation",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "functionCode": "const input = items[0]?.json || {};\nconst tool = input.tool || {};\nconst normalized = {\n  runId: input.runId || 'run-unknown',\n  stepId: input.stepId || ((tool.ref || tool.provider || 'tool') + '-step'),\n  tool: {\n    ref: tool.ref || 'brevo',\n    provider: tool.provider || 'brevo',\n    operation: tool.operation || ''\n  },\n  params: input.params || {},\n  context: input.context || {}\n};\nreturn [{ json: { toolInput: normalized } }];"
      }
    },
    {
      "id": "route-operation",
      "name": "Route Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.toolInput.tool.operation}}",
        "rules": [
          {
            "operation": "equal",
            "type": "string",
            "value": "email.sendEmail"
          },
          {
            "operation": "equal",
            "type": "string",
            "value": "campaign.createCampaign"
          }
        ]
      }
    },
    {
      "id": "action-1",
      "name": "tool-result email.sendEmail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "language": "javascript",
        "code": "const toolInput = items[0].json.toolInput;\nreturn [{\n  json: {\n    ok: true,\n    data: {\n      operation: toolInput.tool.operation || 'email.sendEmail' ,\n      params: toolInput.params\n    },\n    error: null,\n    meta: {\n      tool: {\n        ref: toolInput.tool.ref,\n        provider: toolInput.tool.provider,\n        operation: toolInput.tool.operation || 'email.sendEmail'\n      },\n      runId: toolInput.runId,\n      stepId: toolInput.stepId\n    }\n  }\n}];"
      }
    },
    {
      "id": "action-2",
      "name": "tool-result campaign.createCampaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        500
      ],
      "parameters": {
        "language": "javascript",
        "code": "const toolInput = items[0].json.toolInput;\nreturn [{\n  json: {\n    ok: true,\n    data: {\n      operation: toolInput.tool.operation || 'campaign.createCampaign' ,\n      params: toolInput.params\n    },\n    error: null,\n    meta: {\n      tool: {\n        ref: toolInput.tool.ref,\n        provider: toolInput.tool.provider,\n        operation: toolInput.tool.operation || 'campaign.createCampaign'\n      },\n      runId: toolInput.runId,\n      stepId: toolInput.stepId\n    }\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Tool Trigger": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        [
          {
            "node": "Route Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Operation": {
      "main": [
        [
          {
            "node": "tool-result email.sendEmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tool-result campaign.createCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "auto-generated"
}
