workflows/tools/brevo.workflow.json
{
  "name": "tool-brevo",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "node-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "functionCode": "const input = items[0].json || {};\nconst params = input.params || {};\nconst tool = input.tool || {};\nconst normalized = {\n  runId: input.runId || 'run-id',\n  stepId: input.stepId || 'step',\n  tool: {\n    ref: tool.ref || 'brevo',\n    provider: 'brevo',\n    operation: tool.operation || params.operation || ''\n  },\n  params,\n  context: input.context || {}\n};\nreturn [{ json: normalized }];"
      }
    },
    {
      "id": "node-switch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "propertyName": "={{$json.tool.operation}}",
        "dataType": "string",
        "rules": [
          {
            "operation": "equal",
            "value": "campaign.create"
          },
          {
            "operation": "equal",
            "value": "transactionalEmail.send"
          }
        ],
        "outputData": "inputData"
      }
    },
    {
      "id": "node-action-1",
      "name": "Action campaign.create",
      "type": "n8n-nodes-base.brevo",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "resource": "campaign",
        "operation": "create",
        "name": "={{$json.params.name}}",
        "content": "={{$json.params.content}}"
      }
    },
    {
      "id": "node-action-2",
      "name": "Action transactionalEmail.send",
      "type": "n8n-nodes-base.brevo",
      "typeVersion": 1,
      "position": [
        900,
        320
      ],
      "parameters": {
        "resource": "transactionalEmail",
        "operation": "send",
        "to": "={{$json.params.to}}",
        "subject": "={{$json.params.subject}}",
        "html": "={{$json.params.html}}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        [
          {
            "node": "Action campaign.create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action transactionalEmail.send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
