workflows/tools/gmail.workflow.json
{
  "name": "gmail tool workflow",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "provider",
              "value": "gmail"
            },
            {
              "name": "operation",
              "value": "={{$json.operation}}"
            }
          ],
          "json": [
            {
              "name": "params",
              "value": "={{$json.params}}"
            }
          ]
        }
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "propertyName": "={{$json.operation}}",
        "dataType": "string",
        "outputData": "inputData",
        "rules": [
          {
            "operation": "equal",
            "value": "message.get"
          },
          {
            "operation": "equal",
            "value": "message.getMany"
          },
          {
            "operation": "equal",
            "value": "message.send"
          }
        ]
      }
    },
    {
      "id": "message-get",
      "name": "message.get",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "message",
        "operation": "get",
        "additionalFields": {}
      }
    },
    {
      "id": "message-getMany",
      "name": "message.getMany",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "getMany",
        "additionalFields": {}
      }
    },
    {
      "id": "message-send",
      "name": "message.send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "message.get",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.send",
          "type": "main",
          "index": 0
        }
      ]
    },
    "message.get": {
      "main": []
    },
    "message.getMany": {
      "main": []
    },
    "message.send": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
