workflows/tools/gmail.workflow.json
{
  "name": "gmail tool workflow",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'gmail',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "message-send",
      "name": "message.send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "={{$json.params.subject}}",
        "to": "={{$json.params.to}}",
        "options": {}
      }
    },
    {
      "id": "message-getMany",
      "name": "message.getMany",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "getMany",
        "options": {}
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        450
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  return {\n    json: {\n      ok: true,\n      data: { sample: true, provider: 'gmail', operation: 'sampleFetch', params: input.params || {} },\n      error: null\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "numberOutputs": 3,
        "jsCode": "const routes = {\n  \"message.send\": 0,\n  \"message.getMany\": 1,\n  \"sampleFetch\": 2\n};\n/** @type {Array<Array<import('n8n-workflow').INodeExecutionData>>} */\nconst outputs = Array.from({ length: 3 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        [
          {
            "node": "message.send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "message.getMany",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sampleFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message.send": {
      "main": []
    },
    "message.getMany": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
