workflows/tools/google-drive.workflow.json
{
  "name": "tool-google-drive",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "node-normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "functionCode": "const input = items[0].json || {};\nconst params = input.params || {};\nconst tool = input.tool || {};\nconst normalized = {\n  runId: input.runId || 'run-id',\n  stepId: input.stepId || 'step',\n  tool: {\n    ref: tool.ref || 'google-drive',\n    provider: 'google-drive',\n    operation: tool.operation || params.operation || ''\n  },\n  params,\n  context: input.context || {}\n};\nreturn [{ json: normalized }];"
      }
    },
    {
      "id": "node-switch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "propertyName": "={{$json.tool.operation}}",
        "dataType": "string",
        "rules": [
          {
            "operation": "equal",
            "value": "file.get"
          },
          {
            "operation": "equal",
            "value": "file.upload"
          },
          {
            "operation": "equal",
            "value": "fileFolder.search"
          }
        ],
        "outputData": "inputData"
      }
    },
    {
      "id": "node-action-1",
      "name": "Action file.get",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{$json.params.fileId}}"
      }
    },
    {
      "id": "node-action-2",
      "name": "Action file.upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        900,
        320
      ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{$json.params.name}}",
        "folderId": "={{$json.params.folderId}}",
        "binary": "={{$json.params.binary}}"
      }
    },
    {
      "id": "node-action-3",
      "name": "Action fileFolder.search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        900,
        440
      ],
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "query": "={{$json.params.query}}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        [
          {
            "node": "Action file.get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action file.upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action fileFolder.search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
