workflows/tools/google-drive.workflow.json
{
  "name": "google-drive tool workflow",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'google-drive',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "file-upload",
      "name": "file.upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "binary": "={{$json.params.binary}}",
        "folderId": "={{$json.params.folderId}}",
        "name": "={{$json.params.name}}",
        "additionalFields": {}
      }
    },
    {
      "id": "file-download",
      "name": "file.download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{$json.params.fileId}}",
        "additionalFields": {}
      }
    },
    {
      "id": "fileFolder-search",
      "name": "fileFolder.search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "query": "={{$json.params.query}}",
        "additionalFields": {}
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        600
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  return {\n    json: {\n      ok: true,\n      data: { sample: true, provider: 'google-drive', operation: 'sampleFetch', params: input.params || {} },\n      error: null\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "numberOutputs": 4,
        "jsCode": "const routes = {\n  \"file.upload\": 0,\n  \"file.download\": 1,\n  \"fileFolder.search\": 2,\n  \"sampleFetch\": 3\n};\nconst outputs = Array.from({ length: 4 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        [
          {
            "node": "file.upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "file.download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fileFolder.search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sampleFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file.upload": {
      "main": []
    },
    "file.download": {
      "main": []
    },
    "fileFolder.search": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
