workflows/tools/google-sheets.workflow.json
{
  "name": "so.tool.google-sheets",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'google-sheets',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "numberOutputs": 5,
        "jsCode": "const routes = {\n  \"sheet.append\": 0,\n  \"sheet.read\": 1,\n  \"sheet.update\": 2,\n  \"spreadsheet.create\": 3,\n  \"sampleFetch\": 4\n};\nconst outputs = Array.from({ length: 5 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    },
    {
      "id": "sheet-append",
      "name": "sheet.append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "additionalFields": {
          "valueInputMode": "={{$json.params.valueInputMode}}"
        },
        "range": "={{$json.params.range}}",
        "spreadsheetId": "={{$json.params.spreadsheetId}}",
        "values": "={{$json.params.values}}"
      }
    },
    {
      "id": "sheet-read",
      "name": "sheet.read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "additionalFields": {
          "returnAll": "={{$json.params.returnAll}}"
        },
        "range": "={{$json.params.range}}",
        "spreadsheetId": "={{$json.params.spreadsheetId}}"
      }
    },
    {
      "id": "sheet-update",
      "name": "sheet.update",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "additionalFields": {
          "valueInputMode": "={{$json.params.valueInputMode}}"
        },
        "range": "={{$json.params.range}}",
        "spreadsheetId": "={{$json.params.spreadsheetId}}",
        "values": "={{$json.params.values}}"
      }
    },
    {
      "id": "spreadsheet-create",
      "name": "spreadsheet.create",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "parameters": {
        "resource": "spreadsheet",
        "operation": "create",
        "additionalFields": {
          "folderId": "={{$json.params.folderId}}",
          "templateId": "={{$json.params.templateId}}"
        },
        "title": "={{$json.params.title}}"
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        750
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  return {\n    json: {\n      ok: true,\n      data: { sample: true, provider: 'google-sheets', operation: 'sampleFetch', params: input.params || {} },\n      error: null\n    }\n  };\n});\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "sheet.append",
          "type": "main",
          "index": 0
        },
        {
          "node": "sheet.read",
          "type": "main",
          "index": 0
        },
        {
          "node": "sheet.update",
          "type": "main",
          "index": 0
        },
        {
          "node": "spreadsheet.create",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "sheet.append": {
      "main": []
    },
    "sheet.read": {
      "main": []
    },
    "sheet.update": {
      "main": []
    },
    "spreadsheet.create": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
