workflows/tools/google-docs.workflow.json
{
  "name": "so.tool.google-docs",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'google-docs',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "numberOutputs": 4,
        "jsCode": "const routes = {\n  \"document.create\": 0,\n  \"document.get\": 1,\n  \"document.update\": 2,\n  \"sampleFetch\": 3\n};\nconst outputs = Array.from({ length: 4 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    },
    {
      "id": "document-create",
      "name": "document.create",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "document",
        "operation": "create",
        "additionalFields": {
          "folderId": "={{$json.params.folderId}}"
        },
        "title": "={{$json.params.title}}"
      }
    },
    {
      "id": "document-get",
      "name": "document.get",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "document",
        "operation": "get",
        "additionalFields": {},
        "documentId": "={{$json.params.documentId}}"
      }
    },
    {
      "id": "document-update",
      "name": "document.update",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "document",
        "operation": "update",
        "additionalFields": {
          "html": "={{$json.params.html}}",
          "requests": "={{$json.params.requests}}",
          "text": "={{$json.params.text}}"
        },
        "documentId": "={{$json.params.documentId}}"
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        600
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  return {\n    json: {\n      ok: true,\n      data: { sample: true, provider: 'google-docs', operation: 'sampleFetch', params: input.params || {} },\n      error: null\n    }\n  };\n});\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "document.create",
          "type": "main",
          "index": 0
        },
        {
          "node": "document.get",
          "type": "main",
          "index": 0
        },
        {
          "node": "document.update",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "document.create": {
      "main": []
    },
    "document.get": {
      "main": []
    },
    "document.update": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
