workflows/tools/google-calendar.workflow.json
{
  "name": "so.tool.google-calendar",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "provider",
              "value": "google-calendar"
            },
            {
              "name": "operation",
              "value": "={{$json.operation}}"
            }
          ],
          "json": [
            {
              "name": "params",
              "value": "={{$json.params}}"
            }
          ]
        }
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "propertyName": "={{$json.operation}}",
        "dataType": "string",
        "outputData": "inputData",
        "rules": [
          {
            "operation": "equal",
            "value": "event.create"
          },
          {
            "operation": "equal",
            "value": "event.getMany"
          },
          {
            "operation": "equal",
            "value": "sampleFetch"
          }
        ]
      }
    },
    {
      "id": "event-create",
      "name": "event.create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "additionalFields": {}
      }
    },
    {
      "id": "event-getMany",
      "name": "event.getMany",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "event",
        "operation": "getMany",
        "additionalFields": {}
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "parameters": {
        "resource": "event",
        "operation": "getMany",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "event.create",
          "type": "main",
          "index": 0
        },
        {
          "node": "event.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "event.create": {
      "main": []
    },
    "event.getMany": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
