workflows/tools/google-sheets.workflow.json
{
  "name": "so.tool.google-sheets",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "provider",
              "value": "google-sheets"
            },
            {
              "name": "operation",
              "value": "={{$json.operation}}"
            }
          ],
          "json": [
            {
              "name": "params",
              "value": "={{$json.params}}"
            }
          ]
        }
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "propertyName": "={{$json.operation}}",
        "dataType": "string",
        "outputData": "inputData",
        "rules": [
          {
            "operation": "equal",
            "value": "sheet.append"
          },
          {
            "operation": "equal",
            "value": "sheet.read"
          },
          {
            "operation": "equal",
            "value": "sheet.update"
          },
          {
            "operation": "equal",
            "value": "spreadsheet.create"
          },
          {
            "operation": "equal",
            "value": "sampleFetch"
          }
        ]
      }
    },
    {
      "id": "sheet-append",
      "name": "sheet.append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "additionalFields": {
          "valueInputMode": "={{$json.params.valueInputMode}}"
        },
        "range": "={{$json.params.range}}",
        "spreadsheetId": "={{$json.params.spreadsheetId}}",
        "values": "={{$json.params.values}}"
      }
    },
    {
      "id": "sheet-read",
      "name": "sheet.read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "additionalFields": {
          "returnAll": "={{$json.params.returnAll}}"
        },
        "range": "={{$json.params.range}}",
        "spreadsheetId": "={{$json.params.spreadsheetId}}"
      }
    },
    {
      "id": "sheet-update",
      "name": "sheet.update",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "additionalFields": {
          "valueInputMode": "={{$json.params.valueInputMode}}"
        },
        "range": "={{$json.params.range}}",
        "spreadsheetId": "={{$json.params.spreadsheetId}}",
        "values": "={{$json.params.values}}"
      }
    },
    {
      "id": "spreadsheet-create",
      "name": "spreadsheet.create",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "parameters": {
        "resource": "spreadsheet",
        "operation": "create",
        "additionalFields": {
          "folderId": "={{$json.params.folderId}}",
          "templateId": "={{$json.params.templateId}}"
        },
        "title": "={{$json.params.title}}"
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 1,
      "position": [
        920,
        750
      ],
      "type": "n8n-nodes-base.googleSheets",
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "additionalFields": {
          "returnAll": "={{$json.params.returnAll}}"
        },
        "range": "={{$json.params.range}}",
        "spreadsheetId": "={{$json.params.spreadsheetId}}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "sheet.append",
          "type": "main",
          "index": 0
        },
        {
          "node": "sheet.read",
          "type": "main",
          "index": 0
        },
        {
          "node": "sheet.update",
          "type": "main",
          "index": 0
        },
        {
          "node": "spreadsheet.create",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "sheet.append": {
      "main": []
    },
    "sheet.read": {
      "main": []
    },
    "sheet.update": {
      "main": []
    },
    "spreadsheet.create": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}