workflows/tools/google-calendar.workflow.json
{
  "name": "so.tool.google-calendar",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'google-calendar',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "numberOutputs": 3,
        "jsCode": "const routes = {\n  \"event.create\": 0,\n  \"event.getMany\": 1,\n  \"sampleFetch\": 2\n};\nconst outputs = Array.from({ length: 3 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    },
    {
      "id": "event-create",
      "name": "event.create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": "={{$json.params.calendar}}",
        "additionalFields": {
          "attendees": "={{$json.params.attendees}}",
          "description": "={{$json.params.description}}"
        },
        "title": "={{$json.params.title}}",
        "start": "={{$json.params.start}}",
        "end": "={{$json.params.end}}"
      }
    },
    {
      "id": "event-getMany",
      "name": "event.getMany",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "event",
        "operation": "getMany",
        "calendar": "={{$json.params.calendar}}",
        "additionalFields": {
          "limit": "={{$json.params.limit}}",
          "timeMax": "={{$json.params.timeMax}}",
          "timeMin": "={{$json.params.timeMin}}"
        }
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "parameters": {
        "resource": "event",
        "operation": "getMany",
        "calendar": "={{$json.params.calendar}}",
        "additionalFields": {
          "limit": "={{$json.params.limit}}",
          "timeMax": "={{$json.params.timeMax}}",
          "timeMin": "={{$json.params.timeMin}}"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "event.create",
          "type": "main",
          "index": 0
        },
        {
          "node": "event.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "event.create": {
      "main": []
    },
    "event.getMany": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
