workflows/tools/google-drive.workflow.json
{
  "name": "tool-google-drive",
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Tool Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "id": "node-normalize",
      "name": "Normalize Tool Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [420, 300],
      "parameters": {
        "functionCode": "const input = items[0].json || {};\nconst toolInput = {\n  runId: input.runId || 'run-001',\n  stepId: input.stepId || '0-google-drive',\n  tool: input.tool || { ref: 'google-drive', provider: 'google-drive', operation: 'upload_file' },\n  params: input.params || {},\n  context: input.context || { memory: { session_id: 'sess_001', state: {}, stack: [] } }\n};\n\nreturn [{ json: { toolInput, params: toolInput.params, operation: toolInput.tool.operation } }];"
      }
    },
    {
      "id": "node-switch",
      "name": "Switch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [640, 300],
      "parameters": {
        "value1": "={{$json.operation}}",
        "rules": [
          { "value2": "upload_file" },
          { "value2": "share_file" }
        ]
      }
    },
    {
      "id": "node-upload",
      "name": "Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [860, 180],
      "parameters": {
        "operation": "createFromText",
        "content": "={{$json.params.content || $json.params.text || ''}}",
        "name": "={{$json.params.name || $json.params.path || 'GeneratedFile.json'}}",
        "folderId": "={{$json.params.folderId || $json.params.folder || '1Vh9O0Dt2IXw-3Y5iomG0KTmuSe6_BjdA'}}",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "srne6dUOtNtqGhMU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "node-share",
      "name": "Share File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [860, 420],
      "parameters": {
        "resource": "file",
        "operation": "share",
        "fileId": "={{$json.params.fileId || $json.params.file_id}}",
        "permissionsUi": {
          "permissionsValues": [
            {
              "type": "user",
              "role": "reader",
              "emailAddress": "={{$json.params.emails && $json.params.emails[0] || $json.params.email || 'test@example.com'}}"
            }
          ]
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "srne6dUOtNtqGhMU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "node-result-upload",
      "name": "Build Result (Upload)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 180],
      "parameters": {
        "functionCode": "const state = items[0].json || {};\nconst toolInput = state.toolInput || {};\nconst data = $node[\"Upload File\"].json;\n\nreturn [{\n  json: {\n    ok: true,\n    data,\n    error: null,\n    meta: { tool: toolInput.tool, runId: toolInput.runId, stepId: toolInput.stepId }\n  }\n}];"
      }
    },
    {
      "id": "node-result-share",
      "name": "Build Result (Share)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 420],
      "parameters": {
        "functionCode": "const state = items[0].json || {};\nconst toolInput = state.toolInput || {};\nconst data = $node[\"Share File\"].json;\n\nreturn [{\n  json: {\n    ok: true,\n    data,\n    error: null,\n    meta: { tool: toolInput.tool, runId: toolInput.runId, stepId: toolInput.stepId }\n  }\n}];"
      }
    },
    {
      "id": "node-result-error",
      "name": "Build Result (Error)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [860, 560],
      "parameters": {
        "functionCode": "const state = items[0].json || {};\nconst toolInput = state.toolInput || {};\n\nreturn [{\n  json: {\n    ok: false,\n    data: null,\n    error: {\n      code: 'UNKNOWN_OPERATION',\n      message: 'Unsupported operation',\n      details: { operation: state.operation }\n    },\n    meta: { tool: toolInput.tool, runId: toolInput.runId, stepId: toolInput.stepId }\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Tool Trigger": {
      "main": [[{ "node": "Normalize Tool Input", "type": "main", "index": 0 }]]
    },
    "Normalize Tool Input": {
      "main": [[{ "node": "Switch Operation", "type": "main", "index": 0 }]]
    },
    "Switch Operation": {
      "main": [
        [{ "node": "Upload File", "type": "main", "index": 0 }],
        [{ "node": "Share File", "type": "main", "index": 0 }],
        [{ "node": "Build Result (Error)", "type": "main", "index": 0 }]
      ]
    },
    "Upload File": {
      "main": [[{ "node": "Build Result (Upload)", "type": "main", "index": 0 }]]
    },
    "Share File": {
      "main": [[{ "node": "Build Result (Share)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
