workflows/tools/monday.workflow.json
{
  "name": "so.tool.monday",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'monday',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "numberOutputs": 6,
        "jsCode": "const routes = {\n  \"boardItem.addUpdate\": 0,\n  \"boardItem.create\": 1,\n  \"boardItem.get\": 2,\n  \"boardItem.getMany\": 3,\n  \"boardItem.updateColumnValues\": 4,\n  \"sampleFetch\": 5\n};\nconst outputs = Array.from({ length: 6 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    },
    {
      "id": "boardItem-addUpdate",
      "name": "boardItem.addUpdate",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "additionalFields": {},
        "itemId": "={{$json.params.itemId}}",
        "text": "={{$json.params.text}}"
      }
    },
    {
      "id": "boardItem-create",
      "name": "boardItem.create",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "create",
        "additionalFields": {
          "columnValues": "={{$json.params.columnValues}}",
          "groupId": "={{$json.params.groupId}}"
        },
        "boardId": "={{$json.params.boardId}}",
        "itemName": "={{$json.params.itemName}}"
      }
    },
    {
      "id": "boardItem-get",
      "name": "boardItem.get",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "additionalFields": {},
        "itemId": "={{$json.params.itemId}}"
      }
    },
    {
      "id": "boardItem-getMany",
      "name": "boardItem.getMany",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "getMany",
        "additionalFields": {
          "limit": "={{$json.params.limit}}",
          "page": "={{$json.params.page}}"
        },
        "boardId": "={{$json.params.boardId}}"
      }
    },
    {
      "id": "boardItem-updateColumnValues",
      "name": "boardItem.updateColumnValues",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        750
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "updateColumnValues",
        "additionalFields": {},
        "columnValues": "={{$json.params.columnValues}}",
        "itemId": "={{$json.params.itemId}}"
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 1,
      "position": [
        920,
        900
      ],
      "type": "n8n-nodes-base.mondayCom",
      "parameters": {
        "resource": "boardItem",
        "operation": "getMany",
        "additionalFields": {
          "limit": "={{$json.params.limit}}",
          "page": "={{$json.params.page}}"
        },
        "boardId": "={{$json.params.boardId}}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "boardItem.addUpdate",
          "type": "main",
          "index": 0
        },
        {
          "node": "boardItem.create",
          "type": "main",
          "index": 0
        },
        {
          "node": "boardItem.get",
          "type": "main",
          "index": 0
        },
        {
          "node": "boardItem.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "boardItem.updateColumnValues",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "boardItem.addUpdate": {
      "main": []
    },
    "boardItem.create": {
      "main": []
    },
    "boardItem.get": {
      "main": []
    },
    "boardItem.getMany": {
      "main": []
    },
    "boardItem.updateColumnValues": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
