workflows/tools/monday.workflow.json
{
  "name": "monday tool workflow",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'monday',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "boardItem-create",
      "name": "boardItem.create",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "create",
        "boardId": "={{$json.params.boardId}}",
        "itemName": "={{$json.params.itemName}}"
      }
    },
    {
      "id": "boardItem-getMany",
      "name": "boardItem.getMany",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "getMany",
        "boardId": "={{$json.params.boardId}}"
      }
    },
    {
      "id": "boardItem-updateColumnValues",
      "name": "boardItem.updateColumnValues",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "updateColumnValues",
        "columnValues": "={{$json.params.columnValues}}",
        "itemId": "={{$json.params.itemId}}"
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        600
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  return {\n    json: {\n      ok: true,\n      data: { sample: true, provider: 'monday', operation: 'sampleFetch', params: input.params || {} },\n      error: null\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "numberOutputs": 4,
        "jsCode": "const routes = {\n  \"boardItem.create\": 0,\n  \"boardItem.getMany\": 1,\n  \"boardItem.updateColumnValues\": 2,\n  \"sampleFetch\": 3\n};\n/** @type {Array<Array<import('n8n-workflow').INodeExecutionData>>} */\nconst outputs = Array.from({ length: 4 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        [
          {
            "node": "boardItem.create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "boardItem.getMany",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "boardItem.updateColumnValues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sampleFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "boardItem.create": {
      "main": []
    },
    "boardItem.getMany": {
      "main": []
    },
    "boardItem.updateColumnValues": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
