workflows/tools/monday.workflow.json
{
  "name": "so.tool.monday",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "provider",
              "value": "monday"
            },
            {
              "name": "operation",
              "value": "={{$json.operation}}"
            }
          ],
          "json": [
            {
              "name": "params",
              "value": "={{$json.params}}"
            }
          ]
        }
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "propertyName": "={{$json.operation}}",
        "dataType": "string",
        "outputData": "inputData",
        "rules": [
          {
            "operation": "equal",
            "value": "boardItem.addUpdate"
          },
          {
            "operation": "equal",
            "value": "boardItem.create"
          },
          {
            "operation": "equal",
            "value": "boardItem.get"
          },
          {
            "operation": "equal",
            "value": "boardItem.getMany"
          },
          {
            "operation": "equal",
            "value": "boardItem.updateColumnValues"
          },
          {
            "operation": "equal",
            "value": "sampleFetch"
          }
        ]
      }
    },
    {
      "id": "boardItem-addUpdate",
      "name": "boardItem.addUpdate",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "additionalFields": {}
      }
    },
    {
      "id": "boardItem-create",
      "name": "boardItem.create",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "create",
        "additionalFields": {}
      }
    },
    {
      "id": "boardItem-get",
      "name": "boardItem.get",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "get",
        "additionalFields": {}
      }
    },
    {
      "id": "boardItem-getMany",
      "name": "boardItem.getMany",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "getMany",
        "additionalFields": {}
      }
    },
    {
      "id": "boardItem-updateColumnValues",
      "name": "boardItem.updateColumnValues",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        920,
        750
      ],
      "parameters": {
        "resource": "boardItem",
        "operation": "updateColumnValues",
        "additionalFields": {}
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 1,
      "position": [
        920,
        900
      ],
      "type": "n8n-nodes-base.mondayCom",
      "parameters": {
        "resource": "boardItem",
        "operation": "getMany",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "boardItem.addUpdate",
          "type": "main",
          "index": 0
        },
        {
          "node": "boardItem.create",
          "type": "main",
          "index": 0
        },
        {
          "node": "boardItem.get",
          "type": "main",
          "index": 0
        },
        {
          "node": "boardItem.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "boardItem.updateColumnValues",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "boardItem.addUpdate": {
      "main": []
    },
    "boardItem.create": {
      "main": []
    },
    "boardItem.get": {
      "main": []
    },
    "boardItem.getMany": {
      "main": []
    },
    "boardItem.updateColumnValues": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
