workflows/tools/openai.workflow.json
{
  "name": "so.tool.openai",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "provider",
              "value": "openai"
            },
            {
              "name": "operation",
              "value": "={{$json.operation}}"
            }
          ],
          "json": [
            {
              "name": "params",
              "value": "={{$json.params}}"
            }
          ]
        }
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "propertyName": "={{$json.operation}}",
        "dataType": "string",
        "outputData": "inputData",
        "rules": [
          {
            "operation": "equal",
            "value": "assistant.classify"
          },
          {
            "operation": "equal",
            "value": "assistant.extract"
          },
          {
            "operation": "equal",
            "value": "assistant.summarize"
          },
          {
            "operation": "equal",
            "value": "sampleFetch"
          }
        ]
      }
    },
    {
      "id": "assistant-classify",
      "name": "assistant.classify",
      "type": "n8n-nodes-langchain.lmchatopenai",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "assistant",
        "operation": "classify",
        "additionalFields": {}
      }
    },
    {
      "id": "assistant-extract",
      "name": "assistant.extract",
      "type": "n8n-nodes-langchain.lmchatopenai",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "assistant",
        "operation": "extract",
        "additionalFields": {}
      }
    },
    {
      "id": "assistant-summarize",
      "name": "assistant.summarize",
      "type": "n8n-nodes-langchain.lmchatopenai",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "assistant",
        "operation": "summarize",
        "additionalFields": {}
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "type": "n8n-nodes-base.set",
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "json": [
            {
              "name": "sample_payload",
              "value": "={{$json.params.sample_payload}}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "assistant.classify",
          "type": "main",
          "index": 0
        },
        {
          "node": "assistant.extract",
          "type": "main",
          "index": 0
        },
        {
          "node": "assistant.summarize",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "assistant.classify": {
      "main": []
    },
    "assistant.extract": {
      "main": []
    },
    "assistant.summarize": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
