workflows/tools/slack.workflow.json
{
  "name": "so.tool.slack",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "provider",
              "value": "slack"
            },
            {
              "name": "operation",
              "value": "={{$json.operation}}"
            }
          ],
          "json": [
            {
              "name": "params",
              "value": "={{$json.params}}"
            }
          ]
        }
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "parameters": {
        "propertyName": "={{$json.operation}}",
        "dataType": "string",
        "outputData": "inputData",
        "rules": [
          {
            "operation": "equal",
            "value": "conversation.getMany"
          },
          {
            "operation": "equal",
            "value": "file.get"
          },
          {
            "operation": "equal",
            "value": "file.getMany"
          },
          {
            "operation": "equal",
            "value": "file.upload"
          },
          {
            "operation": "equal",
            "value": "message.delete"
          },
          {
            "operation": "equal",
            "value": "message.getPermalink"
          },
          {
            "operation": "equal",
            "value": "message.search"
          },
          {
            "operation": "equal",
            "value": "message.send"
          },
          {
            "operation": "equal",
            "value": "sampleFetch"
          }
        ]
      }
    },
    {
      "id": "conversation-getMany",
      "name": "conversation.getMany",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "conversation",
        "operation": "getMany",
        "additionalFields": {}
      }
    },
    {
      "id": "file-get",
      "name": "file.get",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "file",
        "operation": "get",
        "additionalFields": {}
      }
    },
    {
      "id": "file-getMany",
      "name": "file.getMany",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "file",
        "operation": "getMany",
        "additionalFields": {}
      }
    },
    {
      "id": "file-upload",
      "name": "file.upload",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "additionalFields": {}
      }
    },
    {
      "id": "message-delete",
      "name": "message.delete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        750
      ],
      "parameters": {
        "resource": "message",
        "operation": "delete",
        "additionalFields": {}
      }
    },
    {
      "id": "message-getPermalink",
      "name": "message.getPermalink",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        900
      ],
      "parameters": {
        "resource": "message",
        "operation": "getPermalink",
        "additionalFields": {}
      }
    },
    {
      "id": "message-search",
      "name": "message.search",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        1050
      ],
      "parameters": {
        "resource": "message",
        "operation": "search",
        "additionalFields": {}
      }
    },
    {
      "id": "message-send",
      "name": "message.send",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        1200
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "additionalFields": {}
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 1,
      "position": [
        920,
        1350
      ],
      "type": "n8n-nodes-base.slack",
      "parameters": {
        "resource": "message",
        "operation": "search",
        "additionalFields": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "conversation.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "file.get",
          "type": "main",
          "index": 0
        },
        {
          "node": "file.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "file.upload",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.delete",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.getPermalink",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.search",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.send",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "conversation.getMany": {
      "main": []
    },
    "file.get": {
      "main": []
    },
    "file.getMany": {
      "main": []
    },
    "file.upload": {
      "main": []
    },
    "message.delete": {
      "main": []
    },
    "message.getPermalink": {
      "main": []
    },
    "message.search": {
      "main": []
    },
    "message.send": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
