workflows/tools/slack.workflow.json
{
  "name": "so.tool.slack",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'slack',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "numberOutputs": 9,
        "jsCode": "const routes = {\n  \"conversation.getMany\": 0,\n  \"file.get\": 1,\n  \"file.getMany\": 2,\n  \"file.upload\": 3,\n  \"message.delete\": 4,\n  \"message.getPermalink\": 5,\n  \"message.search\": 6,\n  \"message.send\": 7,\n  \"sampleFetch\": 8\n};\nconst outputs = Array.from({ length: 9 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    },
    {
      "id": "conversation-getMany",
      "name": "conversation.getMany",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "conversation",
        "operation": "getMany",
        "additionalFields": {
          "cursor": "={{$json.params.cursor}}",
          "limit": "={{$json.params.limit}}",
          "types": "={{$json.params.types}}"
        }
      }
    },
    {
      "id": "file-get",
      "name": "file.get",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "file",
        "operation": "get",
        "additionalFields": {},
        "fileId": "={{$json.params.fileId}}"
      }
    },
    {
      "id": "file-getMany",
      "name": "file.getMany",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "file",
        "operation": "getMany",
        "additionalFields": {
          "channel": "={{$json.params.channel}}",
          "count": "={{$json.params.count}}",
          "page": "={{$json.params.page}}",
          "tsFrom": "={{$json.params.tsFrom}}",
          "tsTo": "={{$json.params.tsTo}}",
          "user": "={{$json.params.user}}"
        }
      }
    },
    {
      "id": "file-upload",
      "name": "file.upload",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "additionalFields": {
          "filename": "={{$json.params.filename}}",
          "initialComment": "={{$json.params.initialComment}}",
          "title": "={{$json.params.title}}"
        },
        "binary": "={{$json.params.binary}}",
        "channels": "={{$json.params.channels}}"
      }
    },
    {
      "id": "message-delete",
      "name": "message.delete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        750
      ],
      "parameters": {
        "resource": "message",
        "operation": "delete",
        "additionalFields": {},
        "channel": "={{$json.params.channel}}",
        "messageTs": "={{$json.params.messageTs}}"
      }
    },
    {
      "id": "message-getPermalink",
      "name": "message.getPermalink",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        900
      ],
      "parameters": {
        "resource": "message",
        "operation": "getPermalink",
        "additionalFields": {},
        "channel": "={{$json.params.channel}}",
        "messageTs": "={{$json.params.messageTs}}"
      }
    },
    {
      "id": "message-search",
      "name": "message.search",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        1050
      ],
      "parameters": {
        "resource": "message",
        "operation": "search",
        "additionalFields": {
          "count": "={{$json.params.count}}",
          "page": "={{$json.params.page}}",
          "sort": "={{$json.params.sort}}",
          "sortDir": "={{$json.params.sortDir}}"
        },
        "query": "={{$json.params.query}}"
      }
    },
    {
      "id": "message-send",
      "name": "message.send",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        1200
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "additionalFields": {
          "attachments": "={{$json.params.attachments}}",
          "blocks": "={{$json.params.blocks}}",
          "threadTs": "={{$json.params.threadTs}}"
        },
        "channel": "={{$json.params.channel}}",
        "text": "={{$json.params.text}}"
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "typeVersion": 1,
      "position": [
        920,
        1350
      ],
      "type": "n8n-nodes-base.slack",
      "parameters": {
        "resource": "message",
        "operation": "search",
        "additionalFields": {
          "count": "={{$json.params.count}}",
          "page": "={{$json.params.page}}",
          "sort": "={{$json.params.sort}}",
          "sortDir": "={{$json.params.sortDir}}"
        },
        "query": "={{$json.params.query}}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        {
          "node": "conversation.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "file.get",
          "type": "main",
          "index": 0
        },
        {
          "node": "file.getMany",
          "type": "main",
          "index": 0
        },
        {
          "node": "file.upload",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.delete",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.getPermalink",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.search",
          "type": "main",
          "index": 0
        },
        {
          "node": "message.send",
          "type": "main",
          "index": 0
        },
        {
          "node": "sampleFetch",
          "type": "main",
          "index": 0
        }
      ]
    },
    "conversation.getMany": {
      "main": []
    },
    "file.get": {
      "main": []
    },
    "file.getMany": {
      "main": []
    },
    "file.upload": {
      "main": []
    },
    "message.delete": {
      "main": []
    },
    "message.getPermalink": {
      "main": []
    },
    "message.search": {
      "main": []
    },
    "message.send": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
