workflows/tools/slack.workflow.json
{
  "name": "slack tool workflow",
  "nodes": [
    {
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "id": "normalize",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  const tool = input.tool || {};\n  const params = input.params ?? tool.params ?? {};\n  const operation = input.operation ?? tool.operation ?? params.action ?? input.action;\n  return {\n    json: {\n      provider: 'slack',\n      operation,\n      params\n    }\n  };\n});\n"
      }
    },
    {
      "id": "message-send",
      "name": "message.send",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        150
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "channel": "={{$json.params.channel}}",
        "text": "={{$json.params.text}}",
        "additionalFields": {}
      }
    },
    {
      "id": "message-search",
      "name": "message.search",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "search",
        "query": "={{$json.params.query}}",
        "additionalFields": {}
      }
    },
    {
      "id": "conversation-getMany",
      "name": "conversation.getMany",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        920,
        450
      ],
      "parameters": {
        "resource": "conversation",
        "operation": "getMany",
        "additionalFields": {}
      }
    },
    {
      "id": "sample-fetch",
      "name": "sampleFetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        600
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return items.map((item) => {\n  const input = item.json || {};\n  return {\n    json: {\n      ok: true,\n      data: { sample: true, provider: 'slack', operation: 'sampleFetch', params: input.params || {} },\n      error: null\n    }\n  };\n});\n"
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Operation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "language": "JavaScript",
        "mode": "runOnceForAllItems",
        "numberOutputs": 4,
        "jsCode": "const routes = {\n  \"message.send\": 0,\n  \"message.search\": 1,\n  \"conversation.getMany\": 2,\n  \"sampleFetch\": 3\n};\nconst outputs = Array.from({ length: 4 }, () => []);\nfor (const item of items) {\n  const op = item.json?.operation;\n  const index = routes[op];\n  if (index !== undefined) {\n    outputs[index].push(item);\n  }\n}\nreturn outputs;\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Dispatch Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Operation": {
      "main": [
        [
          {
            "node": "message.send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "message.search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "conversation.getMany",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sampleFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message.send": {
      "main": []
    },
    "message.search": {
      "main": []
    },
    "conversation.getMany": {
      "main": []
    },
    "sampleFetch": {
      "main": []
    }
  },
  "settings": {},
  "pinData": {}
}
